USER=teste
PASSWORD=123456

# Desenvolvimento/local:
# NUVENS_HOST_PATH=./app/nuvens

# Producao:
NUVENS_HOST_PATH = /home/sf-maps/nuvens
APP_OUTPUTS_PATH = /home/sf-maps/apps/laz_2_dem/app/outputs
APP_DATA_PATH = /home/sf-maps/apps/laz_2_dem/app/data
